@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@font-face {
    font-family: BalooThambi;
    src: url(fonts/BalooThambi-Regular.ttf) format('truetype');
}

*{
    margin:0;
    padding:0;
}

body {
    font-family: Crimson Text;

}

.container-fluid{
    background-color: #69A625;
}

span.navbar-toggler-icon{
    background-color: #69A625;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
    font-family: BalooThambi;
}

.navbar-nav .nav-link {
    text-align: center;
    color: #FFFFFF;
}

ul.navbar-nav {
    background-color: #69A625;
}

a.nav-link {
    background-color: #69A625;
}

a.navbar-brand {
    background-color: #69A625;
}

.noticias-content-container {
    padding: 2%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.noticias-img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.noticias-title {
    align-items: center;
    color: #EA8356;
    font-family: BalooThambi;
    font-size: 40px;
    padding: 5%;
}

.noticias-text{
    color: #000;
    font-family: BalooThambi;
    font-size: 18px;
    padding: 3%;
}

.rodape{
    background-color: #69A625;
    padding: 50px 0;
}

div.container-rodape {
    background-color: #69A625;
}
div.rodape-col{
    background-color: #69A625
}

.rodape h4,a,ul,li {
    background-color: #69A625;
}

.container-rodape{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-rodape{
    background-color: #69A625;
    display: flex;
    flex-wrap: wrap;
}

.rodape-col{
    width: 25%;
    padding: 0 15px;
}
.rodape-col h4{
    margin-left:10%;
    font-family: BalooThambi;
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.rodape-col ul{
    list-style: none;
}
.rodape.-col ul li{
    margin: 10px 0;
}
.rodape li{
    font-family: BalooThambi;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.rodape-col ul li a{
    font-family: BalooThambi;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.rodaper-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.rodape-col .medias-socias{
    margin-top: 30px;
}
.rodape-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.rodape-col .rodape-medias-socias a i{
    font-size: 20px;
}

.rodape-col .rodape-medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.rodape-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #69A625;
}
.rodape-col .form-sub input::placeholder{
    color: white;
}
.rodape-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .rodape-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .rodape-col{
        width: 100%;
    }
}

